*{
  box-sizing: border-box;

}

:root{
  --font-heading: "Sen", sans-serif;
  --primary-color:#FFB900;
}

html{
  font-size: 62.5%;
}
/* 
Khôi phục lại cỡ chữ mặc định */
body{
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.heading-lv2{
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

/* ================common============================= */
a{
  text-decoration: none;
}

.btn{
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.9;
}

.main-content{
  width: 1170px;
  max-width: calc(100% - 48px);
  /* Phải có dấu cách trước và sau dấu "-" */
  margin-left: auto;
  margin-right: auto;
}

.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2{
  --line-clamp: 2;
}

.break-all{
  word-break: break-all;
}
/* =================header ======================= */
.header{
  background: #fffcf4;
}

.header.fixed{
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body{
  display: flex;
  align-items: center;
  padding: 36px 0 8px;

}

.nav{
  margin-left: auto;
}

.nav ul{
  display: flex;
}

.nav a{
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover{
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after{
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;

}

.header .btn-sign-up{
  min-width: 144px;

}

.header .action{
  margin-left: 49px;
}


/* =====================Hero================= */
.hero{
  padding: 56px 0 65px;
  background-color: #fffcf4;
  
}

.hero .body{
  display: flex;
}

/* ======================Hero left=========================== */
.hero .media-block{
  position: relative;
  width: 48%;
}

.hero .content-block{
  width: 52%;
}

.hero .media-block .img{
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary{
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item{
  display: flex;
  align-items: center;
}

.hero-summary .item+.item{
  margin-top: 22px;
}

.hero-summary .icon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2{
  background-color: #FCEFFF;
}

.hero-summary .icon3{
  background-color: #EBEAFF;
}

.hero-summary .info{
  margin-left: 16px;
}

.hero-summary .label{
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title{
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
} 


/* =====================Hero right========================= */
.hero .content-block{
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading{
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc{
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 38px;
}

.hero-cta{
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video{
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span{
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent{
  margin-top: 48px;
}

.hero .stats{
  margin-top: 8px;
}

.hero .stats strong{
  margin-right: 15px;
  font-family: var(--font-heading);
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.hero .stats strong:nth-child(2){
  margin-left: 28px;
}

/* ====================popular================== */
.popular{
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top.desc{
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 18rem;
 line-height: 1.67;
}

.popular-top .controls{
  display: flex;
  gap: 18px;
}

.popular-top .control-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover{
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list{
  margin-top: 55px;
  gap: 30px;
  display: flex;
}

.popular .course-item{
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover{
  border: 1px solid transparent;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb{
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info{
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating, .popular .course-item .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a{
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value{
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}

.popular .course-item .desc{
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot{
  margin-top: 12px;
}

.popular .course-item .price{
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .btn-book{
  border: none;
}

.popular .course-item .btn-book:hover{
  background: var(--primary-color);
}

/* ======================feedback================ */
.feedback{
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-item{
  display: flex;
}

.feedback-item .avatar{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name{
  margin-top: 18px;
  color: #f7f7f7;
  font-size: 2.4rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc{
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots{
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active{
  background-color: var(--primary-color);
  cursor: default;
}

.feedback-item .content{
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquotes{
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.53;
}